@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@600;700;900&display=swap');

:root{
    --primary-color: rgb(21, 181, 114);
    --background-color: rgb(7, 17, 26);
    --caption-color: rgb(166, 177, 187);
    --title-text: 'Rubik', sans-serif;
    --very-big-font: 50px;
    --big-font: 32px;
    --medium-font: 20px;
    --small-font: 15px;
}

@media screen and (min-width: 2000px) {
    :root{
        --very-big-font: 70px;
        --big-font: 50px;
        --medium-font: 40px;
        --small-font: 20px;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

/* HEADER */
.header{
    z-index: 100;
    padding: 10px;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
}

.navbar-nav{
    font-weight: bold;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    font-weight: bold;
}

.navbar-brand{
    font-family: var(--title-text);
    font-weight: 700;
    font-size: var(--big-font);
    background: linear-gradient(
    to bottom, 	#0057b7,#0057b7, #ffd700, #ffd700);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-item{
    margin-left: 25px;
    font-size: var(--small-font);
}

.nav-link:hover{
    color: white;
}

.btn.nav-link{
    width: 6rem;
    background-color: red;
}

@media screen and (max-width: 768.5px) {
     .navbar-nav {
        position: fixed;
        top: 5rem;
        left: -100%;
        flex-direction: column;
        background-color: var(--background-color);
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(255, 255, 255, 0.4);
    }

    .navbar-nav.res {
        left: 5%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link.res{
        color: white;
        cursor: pointer;
    }

    .hamburger {
        color: white;
        display: block;
        cursor: pointer;
    }

    .hamburger.res .bar:nth-child(2) {
        opacity: 0;
        color: white;
    }

    .hamburger.res .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.res .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 450px) {
    .navbar-brand{
        font-size: var(--medium-font);
    }
}
/* HOME */
.home{
    background-color: var(--background-color);
    width: 100%;
    height: 675px;
}

.home-img{
    height: 600px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    height: 600px;
    float: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.job-text{
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--medium-font);
}

.my-name{
    color: white;
    font-size: var(--very-big-font);
    font-weight: bold;
}

.sub-title{
    color: var(--caption-color);
    font-size: var(--small-font);
    display: block;
    font-family: 'Roboto', sans-serif;
}

.gets-btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 48px;
    margin: 10px 0;
    border-radius: 8px;
}

.img-box{
    background: url(./assets/home.png) no-repeat; 
    background-size: contain;
    height: 100%;
    width: 100%;
}

.icon-box{
    width: 9rem;
    height: 2rem;
    margin-top: 8px;
}

.icon-btn{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    text-align: center;
    float: left;
    color: black;
    font-size: var(--medium-font);
    line-height: 30px;
    vertical-align: middle;
}

@media screen and (min-width: 2000px) {
    .icon-box{
        width: 14rem;
        height: 3rem;
    }

    .icon-btn{
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 860px) {
    .home{
        height: 550px;
    }

    .home-img{
       height: 500px;
   }

    .home-text{
        height: 500px;
    }
}

/* SERVICES */
.services{
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

.services-title-box{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading{
    height: 52px;
    display: flex;
}

.download-cv{
    color: var(--primary-color);
    font-size: var(--small-font);
    font-weight: 900;
    margin-left: auto;
    line-height: 52px;
    vertical-align: middle;
    cursor: pointer;
}

.services-moto{
    color: white;
    font-size: var(--medium-font);
    font-weight: 900;
}

.service-wrapper{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.service-Outbox{
    justify-content: space-evenly;
}

.service-box{
    float: left;
}

.content-box{
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
    height: 150px;
}

.service-logo-box{
    width: 100%;
    height: 50px;
    display: flex;
}

.service-logo{
    color: var(--primary-color);
    font-size: var(--big-font);
    margin: auto 0;
    margin-right: 10px;
}

.service-text{
    color: white;
    margin: auto 0;
    font-weight: 700;
    line-height: 50px;
    font-size: var(--medium-font);
}

.service-content{
    color: var(--caption-color);
    font-size: var(--small-font);
    font-family: 'Roboto', sans-serif;
}

@media screen and (min-width: 2000px){
    .service-heading{
        height: 120px;
    }

    .download-cv{
        line-height: 120px;
    }
}

@media screen and (max-width: 475.5px) {
    .content-box{
        height: 150px;
    }
}

@media screen and (max-width: 250px) {
    .service-heading{
        height: 72px;
    }
}

/* PORTFOLIO */
.portfolio{
    width: 100%;
    height: 800px;
}

.mobile-project{
    height: 730px;
}

.app-project-img{
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-imgBox{
    height: 730px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.projectImg{
    height: 90%;
    width: 450px;
}

.Webproject-img{
    height: 730px;
    width: 600px;
    background: url(./assets/web_project1.png) no-repeat;
    background-size:contain;
}

.app-project-textBox{
    height: 100%;
    float: left; 
    display: flex;
    align-items: center;
}

.project-details-box{
    width: 22rem;
    height: 250px;
}

.project-type{
    color: var(--primary-color);
    font-weight: 900;
    font-size: var(--small-font);
    display: block;
}

.project-type .letter{
    display: inline-block;
    line-height: 1em;
  }

.project-title{
    display: inline-block;
    line-height: 25px;
    color: white;
    font-weight: 900;
    font-size: var(--big-font);
}
.rproject-title{
    display: block;
    line-height: 25px;
    color: white;
    font-weight: 900;
    font-size: var(--big-font);
}

.rproject-title .letter {
    display: inline-block;
    line-height: 1em;
  }

.project-desc{
    display: block;
    margin-top: 1rem;
    color: var(--caption-color);
    font-size: var(--small-font);
    font-family: 'Roboto', sans-serif;
}

.explore-project{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 48px;
    margin: 1rem 0;
    border-radius: 8px;
}

.next-project{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: bold;
    height: 48px;
    width: 100px;
    border-width: 1px;
    border-color: var(--primary-color);
    margin: 1rem 0;
    margin-left: 10px;
    border-radius: 8px; 
}

.next-project:hover{
    color: white;
}

@media screen and (max-width: 885px) {
    .mobile-project{
        height: 600px;
    }

    .project-imgBox{
        height: 600px;
    }

    .projectImg{
        width: 390px;
    }
}

@media screen and (max-width: 767.5px){
    .mobile-project{
        height: 860px;
    }
    
    .app-project-img{
        height: 650px;
    }

    .project-imgBox{
        height: 500px;
        width: 100%;
        background-color: #ffd700;
    }

    .Webproject-img{
        height: 500px;
        width: 450px;
    }
    
    .app-project-textBox{
        height: 260px;
        justify-content: center;
    }
}

@media screen and (max-width: 465px) {
    .mobile-project{
        height: 600px;
    }

    .app-project-img{
        height: 520px;
    }

    .Webproject-img{
        width: 90%;
    }

    .projectImg{
        width: 300px;
    }

    .project-details-box{
        width: 20rem;
    }
}

@media screen and (max-width: 250px) {
    .projectImg{
        width: 90%;
    }
}

/* SCROLL BAR */
::-webkit-scrollbar{
    width: 0;
}