@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: rgb(21, 181, 114);
    --background-color: rgb(7, 17, 26);
    --caption-color: rgb(166, 177, 187);
    --title-text: 'Alegreya', serif;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */
.header{
    z-index: 100;
    padding: 10px;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
}

.navbar-nav{
    font-weight: bold;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    font-weight: bold;
}

.navbar-brand{
    font-family: var(--title-text);
    font-weight: bold;
    font-size: 35px;
    background: linear-gradient(
    to bottom, 	#0057b7,#0057b7, #ffd700, #ffd700);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-item{
    margin-left: 25px;
}

.nav-link:hover{
    color: white;
}

.btn.nav-link{
    width: 6rem;
    background-color: red;
}

@media screen and (max-width: 768.5px) {
     .navbar-nav {
        position: fixed;
        top: 5rem;
        left: -100%;
        flex-direction: column;
        background-color: var(--background-color);
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(255, 255, 255, 0.4);
    }

    .navbar-nav.res {
        left: 5%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link.res{
        color: white;
        cursor: pointer;
    }

    .hamburger {
        color: white;
        display: block;
        cursor: pointer;
    }

    .hamburger.res .bar:nth-child(2) {
        opacity: 0;
        color: white;
    }

    .hamburger.res .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.res .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 450px) {
    .navbar-brand{
        font-size: 25px;
    }
}
/* HOME */
.home{
    background-color: var(--background-color);
    width: 100%;
    height: 675px;
}

.home-img{
    height: 600px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    height: 600px;
    float: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.job-text{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
}

.my-name{
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.sub-title{
    color: var(--caption-color);
    font-size: 15;
    display: block;
    font-family: 'Roboto', sans-serif;
}

.gets-btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 48px;
    margin: 10px 0;
    border-radius: 8px;
}

.img-box{
    background: url(./assets/home.png) no-repeat; 
    background-size: contain;
    height: 100%;
    width: 100%;
}

.icon-box{
    width: 9rem;
    height: 2rem;
    margin-top: 8px;
}

.icon-btn{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    text-align: center;
    float: left;
    font-weight: bold;
    color: black;
    font-size: 19px;
    line-height: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 860px) {
    .home{
        height: 550px;
    }

    .home-img{
       height: 500px;
   }

    .home-text{
        height: 500px;
    }
}

/* SERVICES */
.services{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading{
    height: 52px;
    display: flex;
}

.download-cv{
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 900;
    margin-left: auto;
    line-height: 52px;
    vertical-align: middle;
    cursor: pointer;
}

.services-text{
    color: white;
    font-size: 18px;
    font-weight: 900;
}

/* SCROLL BAR */
::-webkit-scrollbar{
    width: 0;
}