@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@600;700;900&display=swap');

:root{
    --primary-color: rgb(21, 181, 114);
    --background-color: rgb(7, 17, 26);
    --caption-color: rgb(166, 177, 187);
    --title-text: 'Rubik', sans-serif;
    --caption-text: 'Roboto', sans-serif;
    --very-big-font: 50px;
    --big-font: 32px;
    --medium-font: 20px;
    --small-font: 15px;
}

@media screen and (min-width: 2000px) {
    :root{
        --very-big-font: 70px;
        --big-font: 50px;
        --medium-font: 40px;
        --small-font: 20px;
    }
}

@media screen and (max-width: 250px) {
    :root{
        --very-big-font: 30px;
        --big-font: 28px;
        --medium-font: 18px;
        --small-font: 10px; 
    }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: var(--background-color);
}

@media screen and (max-width: 325px) {
    body{
        padding: 0 10px;
    }
}

a{
    text-decoration: none;
}

/* HEADER */
.header{
    z-index: 100;
    padding: 10px;
    width: 100%;
    margin: 0;
    background-color: var(--background-color);
}

.navbar-nav{
    font-weight: bold;
    margin-left: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link{
    color: white;
    font-weight: bold;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    font-weight: bold;
}

.navbar-brand{
    font-family: var(--title-text);
    font-weight: 700;
    font-size: var(--big-font);
    /* color: white; */
    background: linear-gradient(
    to bottom, 	#0057b7,#0057b7, #ffd700, #ffd700);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nav-item{
    margin-left: 25px;
    font-size: var(--small-font);
}

.nav-link:hover{
    color: white;
}

.btn.nav-link{
    width: 6rem;
    background-color: red;
}

.btn.nav-link:focus{
    color: white;
}

@media screen and (max-width: 768.5px) {
     .navbar-nav {
        position: fixed;
        top: 5rem;
        left: -100%;
        flex-direction: column;
        background-color: var(--background-color);
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(255, 255, 255, 0.4);
    }

    .navbar-nav.res {
        left: 5%;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-link.res{
        color: white;
        cursor: pointer;
    }

    .hamburger {
        color: white;
        display: block;
        cursor: pointer;
    }

    .hamburger.res .bar:nth-child(2) {
        opacity: 0;
        color: white;
    }

    .hamburger.res .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.res .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

@media screen and (max-width: 450px) {
    .navbar-brand{
        font-size: var(--medium-font);
    }
}
/* HOME */
.home{
    background-color: var(--background-color);
    width: 100%;
    height: 675px;
}

.home-img{
    height: 600px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    height: 600px;
    float: left;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.job-text{
    color: var(--primary-color);
    font-weight: bold;
    font-size: var(--medium-font);
}

.my-name{
    color: white;
    font-size: var(--very-big-font);
    font-weight: bold;
}

.sub-title{
    color: var(--caption-color);
    font-size: var(--small-font);
    display: block;
    font-family: var(--caption-text)
}

.gets-btn{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 48px;
    margin: 10px 0;
    border-radius: 8px;
}

.img-box{
    background: url(./assets/images/home.png) no-repeat; 
    background-size: contain;
    height: 100%;
    width: 100%;
}

.icon-box{
    width: 9rem;
    height: 2rem;
    margin-top: 8px;
}

.icon-btn{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    text-align: center;
    float: left;
    color: black;
    font-size: var(--medium-font);
    line-height: 30px;
    vertical-align: middle;
}

@media screen and (min-width: 2000px) {
    .icon-box{
        width: 14rem;
        height: 3rem;
    }

    .icon-btn{
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 25px;
    }
}

@media screen and (max-width: 860px) {
    .home{
        height: 550px;
    }

    .home-img{
       height: 500px;
   }

    .home-text{
        height: 500px;
    }
}

/* SERVICES */
.services{
    width: 100%;
    overflow: hidden;
    background-color: var(--background-color);
}

.services-title-box{
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-heading{
    height: 52px;
    display: flex;
}

.download-cv{
    color: var(--primary-color);
    font-size: var(--small-font);
    font-weight: 900;
    margin-left: auto;
    line-height: 52px;
    vertical-align: middle;
    cursor: pointer;
}

.services-moto{
    color: white;
    font-size: var(--medium-font);
    font-weight: 900;
}

.service-wrapper{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.service-Outbox{
    justify-content: space-evenly;
}

.service-box{
    float: left;
}

.content-box{
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
    height: 150px;
}

.service-logo-box{
    width: 100%;
    height: 50px;
    display: flex;
}

.service-logo{
    color: var(--primary-color);
    font-size: var(--big-font);
    margin: auto 0;
    margin-right: 10px;
}

.service-text{
    color: white;
    margin: auto 0;
    font-weight: 700;
    line-height: 50px;
    font-size: var(--medium-font);
}

.service-content{
    color: var(--caption-color);
    font-size: var(--small-font);
    font-family: var(--caption-text)
}

@media screen and (min-width: 2000px){
    .service-heading{
        height: 120px;
    }

    .download-cv{
        line-height: 120px;
    }
}

@media screen and (max-width: 475.5px) {
    .content-box{
        height: 150px;
    }
}

@media screen and (max-width: 250px) {
    .service-heading{
        height: 72px;
    }
}

/* PORTFOLIO */
.portfolio{
    width: 100%;
}

.mobile-project{
    height: 730px;
}

.web-project{
    height: 550px;
}

.app-project-img{
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-project-img{
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-imgBox{
    height: 730px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.projectImg{
    height: 90%;
    width: 450px;
}

.webprojectImg{
    height: 65%;
    width: 450px;
}

.app-project-textBox{
    height: 100%;
    float: left; 
    display: flex;
    align-items: center;
}

.web-project-textbox{
    height: 100%;
    float: left; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-details-box{
    width: 22rem;
    height: 250px;
}

.project-type{
    color: var(--primary-color);
    font-weight: 900;
    font-size: var(--small-font);
    display: block;
}

.project-type .letter{
    display: inline-block;
    line-height: 1em;
  }

.project-title{
    display: inline-block;
    line-height: 25px;
    color: white;
    font-weight: 900;
    font-size: var(--big-font);
}
.rproject-title{
    display: block;
    line-height: 25px;
    color: white;
    font-weight: 900;
    font-size: var(--big-font);
}

.rproject-title .letter {
    display: inline-block;
    line-height: 1em;
  }

.project-desc{
    display: block;
    margin-top: 1rem;
    color: var(--caption-color);
    font-size: var(--small-font);
    font-family: var(--caption-text)
}

.explore-project{
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 48px;
    width: 115px;
    float: left;
    padding: 0 5px;
    vertical-align: middle;
    line-height: 48px;
    margin: 1rem 0;
    border-radius: 8px;
}

.explore-project:hover{
    color: var(--background-color);
}

.next-project{
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: bold;
    height: 48px;
    width: 100px;
    border-width: 1px;
    border-color: var(--primary-color);
    margin: 1rem 0;
    margin-left: 10px;
    border-radius: 8px; 
}

.next-project:hover{
    color: white;
}

@media screen and (max-width: 920px) {
    .webprojectImg{
        height: 58%;
        width: 370px;
    }
}

@media screen and (max-width: 885px) {
    .mobile-project{
        height: 600px;
    }

    .web-project{
        height: 500px;
    }

    .projectImg{
        width: 390px;
    }
}

@media screen and (max-width: 767.5px){

    .mobile-project{
        height: 900px;
    }

    .web-project{
        height: 700px;
    }
    
    .app-project-img{
        height: 650px;
    }

    .web-project-textbox{
        height: 300px;
    }

    .web-project-img{
        height: 400px;
    }

    .webprojectImg{
        height: 300px;
    }
    
    .app-project-textBox{
        height: 260px;
        justify-content: center;
    }
}

@media screen and (max-width: 465px) {
    .mobile-project{
        height: 770px;
    }

    .web-project{
        height: 600px;
    }

    .app-project-img{
        height: 520px;
    }

    .projectImg{
        width: 300px;
    }

    .web-project-img{
        height: 280px;
    }

    .webprojectImg{
        height: 250px;
        width: 280px;
    }

    .project-details-box{
        width: 20rem;
    }
}

@media screen and (max-width: 250px) {
    .projectImg{
        width: 90%;
    }

    .webprojectImg{
        width: 90%;
    }
}

/* ABOUT */

.about{
    width: 100%;
    height: 500px;
}

.about-img-sect{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.aboutImg{
    height: 100%;
    width: 400px;
}

.skill-sect{
    height: 100%;
    float: left;
}

.skill-title{
    font-weight: bold;
    font-size: var(--big-font);
    color: white;
    display: block;
}

.skill-sub-title{
    color: var(--caption-color);
    font-size: var(--small-font);
    font-family: var(--caption-text);
    display: block;
}

.skill-outBox{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.skill-row{
    width: 100%;
    height: 50px;
}

.skill-sect-row{
    width: 90%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.skill-percet-row{
    width: 40px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: var(--medium-font);
}

.skill-bar{
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    color: black;
    font-size: var(--medium-font);
    padding-left: 15px;
    float: left;
}

.skill-hr-line{
    width: 55px;
    height: 2px;
    margin: 0 5px;
    background-color: var(--caption-color);
    display: flex;
}

@media screen and (max-width: 980px) {
    .aboutImg{
        height: 85%;
        width: 310px;
    }
}

@media screen and (max-width: 767.5px) {
    .skill-sect{
        padding: 0 10px;
    }
}

@media screen and (max-width: 420px){
    .skill-sect{
        height: 480px;
    }

    .skill-outBox{
        height: 350px;
    }

    .skill-percet-row{
        width: 10%;
        font-size: 18px;
    }
}

@media screen and (max-width: 250px) {
    .about-img-sect{
        height: 250px;
    }

    .aboutImg{
        height: 200px;
        width: 200px;
    }

    .skill-percet-row{
        width: 20px;
        font-size: 10px;
    }
}

/* EDUCATION */
.education{
    width: 100%;
    background-color: var(--background-color);
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.education-wrap{
    padding: 15px;
}

.edu-heading{
    padding: 0 20px;
}

.edu-title{
    display: block;
    font-weight: bold;
    font-size: var(--big-font);
    color: white;
}

.edu-sub-title{
    display: block;
    color: white;
    font-size: var(--small-font);
    font-family: var(--caption-text);
}

.edu-box{
    height: 130px;
    float: left;
    padding: 20px;
}

.edu-duration{
    display: block;
    color: white;
    font-size: var(--medium-font);
    font-weight: 900;
}

.edu-stream{
    display: block;
    color: var(--caption-color);
    font-family: var(--caption-text);
    font-size: var(--small-font);
}

.edu-website{
    display: block;
    color: white;
    word-wrap: break-word;
    font-size: var(--small-font);
    font-family: var(--caption-text);
}

@media screen and (max-width: 530px) {
    .edu-box{
        height: 150px;
    }
}

@media screen and (max-width: 421px) {
    .edu-box{
        height: 170px;
    }
}

@media screen and (max-width: 370px) {
    .edu-box{
        height: 240px;
    }
}
/* DETAILS */
.details{
width: 100%;
display: flex;
padding: 20px 0;
justify-content: center;
background-color: var(--background-color);
}

.details-content{
    background-color: var(--background-color);
    width: 90%;
    margin: 0 auto;
    height: 80px;
}

@media screen and (max-width: 480px) {
    .details-content{
        height: 100px;
    }
}

/* CONTACT ME */
.modal {
    display: hidden;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
  }
  
  .contactModal-content {
    background-color: var(--background-color);
    padding: 0 20px;
    border-radius: 20px;
    border: 1px solid #888;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 400px;
    margin: auto;
  }

  .close {
    color: var(--primary-color);
    width: 3rem;
    font-size: 50px;
    vertical-align: middle;
    line-height: 3rem;
    font-weight: bold;
    float: right;
    cursor: pointer;
  }

  .close-box{
    height: 3rem;
  }

  .contact-msg-box{
    float: left;
    height: 7rem;
    width: 90%;
    border-radius: 15px;
    color: white;
    background-color: var(--background-color);
    border-color: var(--primary-color);
    font-family: var(--caption-text);
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    padding-left: 5px;
    margin-top: 1rem;
    outline: none;
  }

  .contact-submit-btn{
    float: left;
    height: 3rem;
    width: 90%;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    background-color: red;
    padding-left: 5px;
    margin: 1rem 0;
    cursor: pointer;
  }

  .email-send-indicat{
      color: var(--primary-color);
      font-weight: bold;
      font-size: var(--medium-font);
      position: absolute;
      top: 2%;
      left: 43%;
  }

  .input{
    float: left;
    height: 3rem;
    width: 90%;
    border-radius: 15px;
    border-color: var(--primary-color);
    border-style: solid;
    border-width: 4px;
    outline: none;
    margin-top: 1rem;
    font-weight: bold;
    padding: 0 7px;
    color: white;
    font-family: var(--caption-text);
    background-color: var(--background-color);
}

::placeholder{
    color: white;
}

.error{
    float: left;
    color: red;
    padding-left: 7px;
    font-weight: bold;
    height: 3rem;
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 10%;
}

.error-msg{
    visibility: hidden;
    background-color: var(--background-color);
    color: red;
    padding: 0 5px;
    right: 50%;
    top: 2%;
    text-align: center;
    border-radius: 0.25em;
    white-space: nowrap;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    transition-property: visibility;
    transition-delay: 0s;
}

.error:hover  .error-msg{
    visibility: visible;
    transition-delay: 0.3s;
}

.email-modal-container{
    height: 50%;
    width: 100%;
    color: var(--primary-color);
    font-size: var(--big-font);
    font-weight: bold;
}

/* FOOTER */
.footer{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: var(--caption-text);
}

/* SCROLL BAR */
::-webkit-scrollbar{
    width: 0;
}